@import "tailwindcss";

:root {
  --color-primary: #00796B;
  --color-primary-light: rgba(0, 121, 107, 0.5);
  --color-primary-medium: rgba(0, 121, 107, 0.8);
  --color-primary-dark: rgba(0, 121, 107, 0.95);
  
  /* Add font family variable */
  --font-family-main: 'Montserrat', sans-serif;
}

/* Apply Montserrat to all elements */
body {
  font-family: var(--font-family-main);
}

/* Add any other global styles here */